:root{
    --span-hover: #03448f;
    --private-hover: #5fb1d6;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: #e7e2da;
}

.container{
    width: inherit;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > .content{
    background-color: white;
    width: 50%;
    height: fit-content; 
    padding: 5px 0;
    display: flex;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
}

.container > .content > .top {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.container > .content > .top > .notifications {
    display: flex;
    align-items: center;
}

.container > .content > .top > .notifications > .notification-count{
    width: 20px;
    border-radius: 3px;
    background-color: var(--span-hover);
    color: white;
    font-weight: bold;
    margin-left: 5px;
    text-align: center;
}

.container > .content > .top > .mark-as-read:hover {
    color: var(--span-hover);
    cursor: pointer;
}
.container > .content > .body{
    width: 90%;
    display: flex;
    gap: 6px;
    flex-direction: column;
}
.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.user > img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.user > .user-content {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 10px 0;
}

.user > .user-content > .message-info {
    display: flex;
    align-items: center;
}

.user > .user-content > .message-info > .name {
    font-weight: bolder;   
    margin-right: 10px;
    color: black;
}

.user > .user-content > .message-info > small > span {
    font-weight: 900;
}

small{
    color: #5c5959;
}

.user > .user-content > .message-info > .red{
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 100%;
    margin-left: 4px;
}

.user > .user-content > .private-message{
    border: 1px solid rebeccapurple;
    width: 80%;
    float: right;
}
.user > .user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user > .user-container > .user-content > .message-info{
    display: flex;
    align-items: center;
}

.user > .user-container > img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.user > .user-container > .user-content > .message-info > .name {
    font-weight: bolder;   
    margin-right: 10px;
    color: black;
}

.user > .user-container > .user-content {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 10px 0;
}

.user:nth-of-type(4){
    flex-direction: column;
    background: white;
}
.user:nth-of-type(4)> .private-message{
    margin-top: 12px;
    margin-left: 90px;
}

.user:nth-of-type(5) > .user-content > .message-info{
    justify-content: space-between;
}

.user > .user-content > .message-info > img {
    width: 40px;
    height: 40px;
}

.user > .user-content > .message-info > div > .name {
    font-weight: bolder;   
    margin-right: 10px;
    color: black;
}

.user:hover{
    background-color: #ece9e3;
    padding: 0 5px;
    cursor: pointer;
}

.user > .user-content > .message-info > .name:hover{
    color: var(--span-hover);
}

.user > .user-content > .message-info > div > .name:hover{
    color: var(--span-hover);
}

.user > .user-container> .user-content > .message-info > .name:hover{
    color: var(--span-hover);
}

span:hover{
    color: var(--span-hover);
}

.private-message:hover{
    background: var(--private-hover);
    border-radius: 8px;
    padding: 8px 4px;
}